.navbar {
    height: 120px;
    width: 100%;
    background: burlywood;
}

.links {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 25px;
  }